# Entornos virtuales
venv/
env/
.env

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de datos locales
data/clientes.json
*.log

# Entornos de desarrollo
.vscode/
.idea/
.pytest_cache/
