1. Entornos Virtuales

venv/
env/
.env

2. Archivos compilados y caché de Python

pycache/
*.py[cod]
*$py.class
.pytest_cache/

3. Bases de Datos Locales y Logs

(La persistencia de datos y logs no debe subir a GitHub por seguridad)

data/clientes.json
*.log

4. Entornos de Desarrollo (IDEs)

.vscode/
.idea/
*.swp
.DS_Store